HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/admin/.gitignore
/.txlcn/admin-9090.mv.db
/admin/.mvn/wrapper/maven-wrapper.properties
/admin/.mvn/wrapper/MavenWrapperDownloader.java
/admin/mvnw
/admin/mvnw.cmd
/.txlcn/users-9091.mv.db
