<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shbh.sentinel.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shbh.sentinel.entity.Admin">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="pwd" property="pwd" />
        <result column="lase_login_time" property="laseLoginTime" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, pwd, lase_login_time, role_id
    </sql>

</mapper>
